.section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: auto;
    position: relative;
    gap: 0.5em;
}